[Unit]
Description=Bot Vinted -> Discord
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/vinted-bot
ExecStart=/home/ubuntu/vinted-bot/venv/bin/python3 /home/ubuntu/vinted-bot/main.py
Restart=on-failure
RestartSec=30
User=ubuntu

[Install]
WantedBy=multi-user.target
